.body{
    background-image: url('../img/fundo.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.header {
    background-color: #232323;
    width: 100%;
    margin-bottom: 50px;
    border-bottom: orange 5px solid; /* estou colocando uma bordar na parte de baixo
    do meu header com tamanho de 5px e de estilo solid */
  }
  
  .header .container {
    min-height: 70px;
    padding: 10px;
  }
  /*  FIM   */
  
  /* Titulo do cabeçalho  */
  
  .header .container .titulo .span {
    color: orange;
  }
  
  .titulo {
    color: white;
    float: left;
    margin: auto;
    padding: 10px;
  }
.container{
    widows: 90%;
    margin:auto;
    overflow: hidden;
}

.nav ul li {
    /* list-style-type: none; se voce for fazer um menu na vertical para remover 
    as bolinhas da lista, usa essa propriedade */
    display: inline-block; /* esse remove tambem as bolinhas da lista e coloca os itens
    da lista lado a lado */
    margin-left: 20px;
  }
  
  .nav ul {
    margin: 0 auto;
    padding: 22px;
  }
  
  .nav a {
    color: white;
    text-decoration: none; /* remove o sublinado dos itens da tag <a>, essa tag serve para voce fazer
    um link */
  }
  .nav ul li a:hover {
    color: orange;
  }
  
  .nav {
    float: right;
    /* toda minha lista vai ficar na parte direita do site */
  }
  
.telaLogin{
    text-align: center;
    margin-top: 10%;

}
.login{
    margin-top: 30px;
    width: 400px;
    height: 50px;
    border-radius: 5px;
    border: black 1px solid;
    padding-left: 10px;
    font-size: 18px;
    color: grey;
}
.login:hover{
    border: 1px solid blue;
}
.usuario{
    width: 120px;
    border-radius: 99px;
    background-color: transparent;
    margin-top: 3%;;
}
.cadastro{
    text-decoration: none;
    color: white;
    margin-left: 0px;
    font-size: 18px;
    
}
.cadastro:hover{
    color: blue;
}
.btnLogar{
    width: 150px;
    height: 40px;
    margin-left: 180px;
    margin-top: 20px;
    font-size: 18px;
    font-family: ARIAL;
    color: white;
    background-color: rgb(0, 0, 0);
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
}
.btnLogar:hover{
    color: blue;
}
.div_cadastro{
    float: left;
    margin-left: 30px;
    margin-right: 40px;
}
.div_empresa{
    float: right;
    margin-right: 40px;
}
.div_endereco{
    text-align: center;
}
.div_butao{
    margin-top: 20px;
    text-align: center;
}
.inputCadastro{
    margin-top: 30px;
    width: 400px;
    height: 50px;
    border-radius: 5px;
    border: black 1px solid;
    padding-left: 10px;
    font-size: 18px;
    color: grey;
}
.btnEntrar{
    width: 150px;
    height: 40px;
    margin-left: 180px;
    margin-top: 20px;
    font-size: 18px;
    font-family: ARIAL;
    color: white;
    background-color: black;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
}
.btnEntrar:hover{
    color: blue;
}
.cadastro2{
    text-decoration: none;
    color: black;
    margin-left: 0px;
    font-size: 18px;
}
.cadastro2:hover{
    color: blue;
}
.inputComplemento{
    margin-top: 30px;
    width: 820px;
    height: 50px;
    border-radius: 5px;
    border: black 1px solid;
    padding-left: 10px;
    font-size: 18px;
    color: grey;
}
.txtEndereco{
    margin: 39px 615px -5px
}
#menu ul{
    margin: 0;
    background-color: transparent;
    width: 100%;
    position: fixed;
    height: 70px;
    padding-top: 10px;
}
#menu ul li{
    display: inline;
    float: right;
    
}


#menu ul li a{
    padding: 5px 183px;
    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: 18px;
}
#menu ul li  .nomeEmpresa{
    margin-left: -627px;
    font-size: 25px;
    margin-top: -5px;
}
#menu ul li .nomeEmpresa:hover{
    color: white;
}#menu ul li a:hover{
    color: blue;
}.nome{
    color: orange;
}
#menu{
    margin: 0px 0px -120px 505px;
}

.tudo{
    background-image: url("../img/1.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}