html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
}
#menu ul{
    margin: 0;
    background-color: transparent;
    width: 100%;
    position: fixed;
    height: 70px;
    padding-top: 10px;
}
#menu ul li{
    display: inline;
    float: right;
    
}


#menu ul li a{
    padding: 4px 36px;
    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: 23px;
}
.logoMenu{
    float: left;
    width: 30%;
}
.logoMenu .logoEmpresa{
    margin-left: 40%;
    border-radius: 99px;
    margin-top: -5px;
    width: 90px;
}

#menu ul li .nomeEmpresa:hover{
    color: white;
}

.projeto{
    margin-right: 50px;
}
#menu ul li a:hover{
    color: blue;
}

#primeiraImg{
    text-align: center;
    margin-top: -20px;
    background-image: url("../img/4.3.jpg");
    background-size: cover; 
    background-attachment: fixed;
    height: 650px;
    background-position: center;
}

.slogan{
    color: white;
    padding: 19% 140px;
    margin: 5px auto;
    font-size: 50px;
    font-family: sans-serif;
}

.servicos{
    display: inline-block;
    width: 30%;
    height: 580px;
    text-align: center;
    margin-left: 10px;
    text-align: center;
    background-position: 50%;
    margin: 0;
}
#mobile{
   
    background-image: url('../img/floresta.jpg');
    background-size: cover;
    background-position: center;
    margin-left: 4%;
    
}
#fundoRoza{
    height: 100%;
    background-color: rgba(242, 117, 95, 0.582); ;
}
#fundoPreto{
    height: 100%;
    background-color: rgba(54, 62, 80, 0.75);
}
#web{
    background-image: url('../img/floresta.jpg');
    background-size: cover;
    background-position: center;
    
}
#design{
    background-image: url('../img/floresta.jpg');
    background-size: cover;
    background-position: center;
}
#fundoAzul{
    height: 100%;
    background-color: rgba(70, 187, 226, 0.589);
}
.imgIcon{
    padding-top: 30px;
}
.h4{
    color: #ffffff;
    font: 22px "sans-serif";
    margin: 45px 40px;
    padding-top: 0px;
}
.p{
    color: #ffffff;
    font: 16px "sans-serif" ;
    padding: 10px 5px;
    
}
.h4port{
    color: #ffffff;
    font: 28px "sans-serif";
    margin: 0px 10px;
}
.pport{
    color: #AAAAAA;
    font: 18px "sans-serif";
    margin: 0px 10px;
    padding: 0px 72.5px;
}
.portifolio{
    margin-top: 10px;
    text-align: center;
    background-color: #363e50;
    padding-top: 40px;
    height: 600px;
}
#equipe{
    padding-top: 10px;
    color: #ffffff;
    font-size: 25px;
    background-color: #363e50;
    text-align: center;
}
.img{
    width: 100px;
    border-radius: 99px;
    border: 1px solid black;
    text-align: center;
}
.equipe{
    display: inline-block;
    margin: 10px 80px;
}
.test{
    color: #999;
    font-size: 22px;
    font-family: sans-serif;
    text-align: center;
}
.texto{
    color: white;
    text-align: center;
}
.h4form{
    color: #ffffff;
    text-align: center;
    font-family: sans-serif;
    font-size: 30px;
}
.pform{
    text-align: center;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 18px;
}
.inputcontato{
    margin-top: 10px;
    margin-left: 30px;
    width: 40%;
    height: 60px;
    padding: 10px;
    border-radius: 5px;
    color: rgba(54, 62, 80, 0.75);
}
.textArea{
    float: right;
    margin-right: 2%;
    margin-top: -560px;
    width: 45%;
    height: 270px;
    border-radius: 5px;
    color: rgba(54, 62, 80, 0.75);
    margin-left: 40px;
    
}
.contato{
    background-image: url("../img/rodape.png");
    height: 700px;
    background-color: #363e50;
    padding-top: 40px;
    margin-bottom: 20px;
    
}
.btnMsg{
    text-align: center;
}
.msg{
    width: 120px;
    height: 50px;
    width: 200px;
    font-size: 20px;
    background-color: #FF3333;
    border: 1px solid red;
    color: white;
    border-radius: 3px;
    
}
.msg:hover{
    background-color: #F31D1D;
    cursor: pointer;
}
.redes{
    padding: 0;
    margin: 0;
    width: 100%;
}
.redes ul li{
    text-decoration: none;
    display: inline-block;
}
.redes ul li a {
    padding-top: -100px;
    text-align:  right 
}
.redes ul li a img {
    margin-right: 20px;
    width: 25px;
}
footer{
    width: 100%;
    margin-top: -35px;
    height: 50px;
}
.fundott{
    background-image: url("../img/zz.jpg")  ;  
}